<script setup>

const likes  = useLike();
</script>

<template>
    <div class="my-8 text-center bg-gray-300 mx-4 rounded-md shadow-md hover:bg-blue-200 p-8">
        <h1 class="mb-4 text-xl">Change the likes</h1>
        <p class="text-center">Likes: {{ likes }}</p>
        <div class="flex mt-8 items-center gap-4 justify-center">
            <button @click="likes++" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Like</button>
            <button @click="likes--" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Dislike</button>
        </div>
    </div>
</template>