<script setup>
 const likes = useLike();
</script>

<template>
    
    <div class="text-center mb-16 mt-4">
        <h1 class="text-2xl mb-4">Total Likes: {{ likes }}</h1>
        <p>One composable to handle all the changes!</p>
    </div>
    <div class="grid gap-8 grid-cols-3">
        <div v-for="items in 6" :key="items">
            <Likes />
        </div>
    </div>
    <div class="text-center">
        <nuxtLink to="reftype">
            <p>Check This with ref</p>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">
                RefType
            </button>
        </nuxtLink>
    </div>
</template>